#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

#homeBody.dissapear {
  transition: transform 1s, opacity 0.5s, translate 2s ease-in;
  opacity: 0;
  translate: 0px -100px;
  transform: scale(0);
  pointer-events: none;
}

@font-face {
  font-family: 'Beaufort';
  src: url(./Fonts_Package/BeaufortForLoL-OTF/BeaufortforLOL-Bold.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Spiegel';
  src: url(./Fonts_Package/Spiegel-OTF/Spiegel-Regular.otf);
  font-weight: normal;
  font-style: normal;
}

#minih1 {
  color: #F0E6D2;
  width: 342px;
  text-shadow: 1.5px 1px 0px #785A28;
  font-size: 1.4em;
  letter-spacing: 0.02em;
  transition: background-color 0.28s, text-shadow ease 0.28s;
}

#minih1:hover {
  text-shadow: #dfdede 0 0 6px, 1.5px 1px 0px #785A28;
}


header {
  color: #C89B3C;
  border-bottom: 2px solid #9b792f;
  font-family: Beaufort;
  font-size: 1.0em;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 0;
  width: 100%;
  height: 49px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerChildren {
  height: 100%;
  width: 10%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: color 0.28s, background-color 0.45s ease-out;
}

.headerChildren:hover {
  border-bottom: 2px solid #f7ba39;
  background: linear-gradient(to top, #2e2819, #1b1917);
  background-color: #1b1917;
  color: #f7ba39;
}

footer {
  color: #79756a;
  font-family: Beaufort;
  font-size: 12px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 100%;
  /* Ensures size doesnt change on diff viewport */
  min-height: 50px;
  text-align: center;
  border-top: 1px solid #A09B8C;
  max-width: 800px
}

.image-container {
  color: #ada89b;
  font-size: 1.09em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 13px;
  gap: 7px;
  margin-top: 9px;
}

#gitIcon {
  height: 17px;
  width: 17px;
  background-color: #ada89b;
  background-size: 1px;
  border-radius: 100px;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
}

#gitIcon:hover {
  background-color: #d8a841;
  cursor: pointer;
  transform: scale(1.1);
}

.tooltip {
  height: 20px;
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  
}

.tooltip-text {
  opacity: 0;
  width: 145px;
  background-color: #1a1a1a;
  border: solid 1px #C89B3C;
  color: #ada89b;
  font-size: 15px;
  text-align: center;
  border-radius: 4px;
  padding: 5px 0;
  pointer-events: none;

  /* Position the tooltip */
  position: absolute;
  z-index: 3;
  top: -8px;
  left: 100%;
  transition: all ease-in-out 0.3s;

}

.tooltip:hover .tooltip-text {
  opacity: 1;
  left: 150%;
}

#infoIcon {
  height: 20px;
  width: 20px;
  background-color: #ada89b;
  background-size: 1px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

#infoIcon:hover {
  background-color: #d8a841;
  cursor: pointer;
}

#link {
  display: flex;
  align-self: center;
}

.box {
  height: 40px;
  margin-top: 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

select {
  padding: 0.5em;
  border-radius: 9px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: Spiegel;
  color: #A09B8C;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s, transform 300ms ease-in-out;
}

select:hover {
  border-color: #C89B3C;
  transform: scale(1.02);
}

select:focus {
  transform: scale(1.02);
  outline: none;
  border: 2px solid #C89B3C;
}

.summonerField::placeholder {
  color: #5B5A56;
}

.summonerField {
  padding: 0.5em;
  width: 15.2cm;
  height: 1cm;
  border: 1px solid #5B5A56;
  border-radius: 5px;
  background-color: #1E2328;
  font-family: Spiegel;
  font-size: 16px;
  transition: border-color 0.3s ease-in-out;
  box-sizing: border-box;
}

.summonerField:hover {
  border-color: #C89B3C;
}

.summonerField:focus {
  outline: none;
  border: 1px solid #C89B3C;
}

.fieldBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#patcher {
  color: #9791839c;
  font-size: 0.85em;
  padding-top: 10px;
}