#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  
}

#homeBody.dissapear {
  transition: transform 1s, opacity 0.5s, translate 2s ease-in;
  opacity: 0;
  translate: 0px -100px;
  transform: scale(0);
  pointer-events: none;
}

@keyframes moveRight {
  0% {
    height: 55vh;
    left: 10%;
  }

  25% {
    left: 10%;
    height: 70vh;
  }

  70% {
    left: 44.8%;
    height: 70vh;
  }

  100% {
    left: 44.8%;
    height: 0vh;
  }
}

@font-face {
  font-family: "Beaufort";
  src: url(./Fonts_Package/BeaufortForLoL-OTF/BeaufortforLOL-Bold.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Spiegel";
  src: url(./Fonts_Package/Spiegel-OTF/Spiegel-Regular.otf);
  font-weight: normal;
  font-style: normal;
}

#minih1 {
  color: #f0e6d2;
  width: 342px;
  text-shadow: 1.5px 1px 0px #785a28;
  font-size: 1.4em;
  letter-spacing: 0.02em;
  transition: background-color 0.28s, text-shadow ease 0.28s;
}

#minih1:hover {
  text-shadow: #dfdede 0 0 6px, 1.5px 1px 0px #785a28;
}

header {
  color: #c89b3c;
  background: radial-gradient(circle farthest-side, #020f20, #01070e);
  border-bottom: 2px solid #9b792f;
  font-family: Beaufort;
  font-size: 1em;
  position: fixed;
  margin-bottom: auto;
  transform: translateX(-50%);
  left: 50%;
  top: 0;
  width: 100%;
  height: 49px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.headerChildren {
  height: 100%;
  width: 10%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: color 0.28s, background-color 0.45s ease-out;
}

.headerChildren:hover {
  border-bottom: 2px solid #f7ba39;
  background: linear-gradient(to top, #2e2819, #1b1917);
  background-color: #1b1917;
  color: #f7ba39;
}

footer {
  color: #79756a;
  font-family: Beaufort;
  font-size: 12px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 100%;
  min-height: 50px;
  text-align: center;
  border-top: 1px solid #a09b8c;
  max-width: 800px;
}

body .dashboard footer {
  color: #79756a;
  font-family: Beaufort;
  font-size: 12px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  min-height: 50px;
  text-align: center;
  border-top: 1px solid #a09b8c;
  max-width: 800px;
}

#errorPopup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 580px;
  margin-top: 10px;
  z-index: 1000;
  margin-left: auto;
  margin-right: auto;
}

.image-container {
  color: #ada89b;
  font-size: 1.09em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 13px;
  gap: 5px;
  margin-top: 9px;
}

#gitIcon {
  height: 17px;
  width: 17px;
  background-color: #ada89b;
  background-size: 1px;
  border-radius: 100px;
  border: 1px solid transparent;
  margin-bottom: 2px;
  transition: all 0.3s ease-in-out;
}

#gitIcon:hover {
  background-color: #d8a841;
  cursor: pointer;
  transform: scale(1.1);
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  opacity: 0;
  width: 145px;
  background-color: #1a1a1a;
  border: solid 1px #c89b3c;
  color: #ada89b;
  font-size: 15px;
  text-align: center;
  border-radius: 4px;
  padding: 5px 0;
  pointer-events: none;

  /* Position the tooltip */
  position: absolute;
  z-index: 3;
  top: -8px;
  left: 100%;
  transition: all ease-in-out 0.3s;
}

.tooltip:hover .tooltip-text {
  opacity: 1;
  left: 140%;
}

#infoIcon {
  height: 21px;
  width: 21px;
  background-color: #ada89b;
  background-size: 1px;
  border: #ada89b 2px solid;
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}

#infoIcon:hover {
  background-color: #d8a841;
  border: #d8a841 2px solid;
  cursor: pointer;
}

#link {
  display: flex;
  align-self: center;
}

.box {
  height: 40px;
  margin-top: 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

select {
  padding: 0.5em;
  border-radius: 9px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: Spiegel;
  color: #a09b8c;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s, transform 300ms ease-in-out;
}

select:hover {
  border-color: #c89b3c;
  transform: scale(1.02);
}

select:focus {
  transform: scale(1.02);
  outline: none;
  border: 2px solid #c89b3c;
}

.summonerField::placeholder {
  color: #5b5a56;
}

.summonerField {
  padding: 0.5em;
  width: 15.2cm;
  height: 1cm;
  border: 1px solid #5b5a56;
  border-radius: 5px;
  background-color: #1e2328;
  font-family: Spiegel;
  font-size: 16px;
  transition: border-color 0.3s ease-in-out;
  box-sizing: border-box;
}

.summonerField:hover {
  border-color: #c89b3c;
}

.summonerField:focus {
  outline: none;
  border: 1px solid #c89b3c;
}

.fieldBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#patcher {
  color: #9791839c;
  font-size: 0.85em;
  padding-top: 10px;
}

#master {
  width: 500px;
}

#summonerBlock{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #1b1f24;
  border: solid 1px #383838;
  max-width: 500px; 
  min-width: 500px;
  margin: 0 auto; 
  margin-top: 20px;
  border-radius: 3%;
  gap: 25px;
}

.profileIconGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100px;
  padding-top: 10px;
  margin: 0 auto; 
}

#summonerIcon {
  width: 100px;
  border: 1.9px solid #c89b3c;
  border-radius: 7%;
}

#level {
  display: block;
  width: 45px;
  font-size: 14px;
  margin-top: -13px;
  text-align: center;
  background-color: #1b1917;
  border: 1px solid #c89b3c;
  border-radius: 4px;
}

#name {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  padding: 5px;
  gap: 5px;
}

#serverList{
  z-index: 100;
}

#server { 
  color: #a5a0a0;
}

#chips {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
  justify-content: center; 
  align-items: center;
}

.rankedInfo {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 200px;
}

#winrateBlock {
  position: absolute;
  left: 5%;
  top: 30svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #1b1f24;
  border: solid 1px #383838;
  border-radius: 3%;
  gap: 25px;
  
}

#matchHistoryBlock {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  min-height: 55vh;
  padding: 20px;
}

#matchList {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.matchEntry {
  display: flex;
  gap: 20px;
  border: solid 1px #383838;
  border-radius: 5px;
  background: linear-gradient(96deg, rgb(98 235 140 / 55%) 0%, rgba(49, 41, 85, 0.5) 110%); /*linear-gradient(40deg, rgb(78 255 156 / 55%) 30%, rgb(72 131 75 / 50%) 100%)*/
  align-items: center;
  min-height: 100px;
}

#championBlock{
  position: absolute;
  right: 5%;
  top: 30svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #1b1f24;
  border: solid 1px #383838;
  border-radius: 3%;
  gap: 25px;
}
