:root {
  font-family: Spiegel;
  line-height: 1.5;
  font-weight: 400;
  color: #ffffff;

  color-scheme: light dark;
  background: radial-gradient(circle farthest-side, #02162b, #010913);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::selection {
  color: #010A13;
  background-color: #C89B3C;
  text-shadow: none;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 100;
  }
}

@keyframes fade-out {
  from {
    opacity: 1000;
  }

  to {
    opacity: 0;
  }
}

.line {
  position: relative;
  border-left: 1px solid #9b792f;
  margin-left: 100px;
  margin-right: 100px;
  height: 460px;
}

#leftLine {

  animation-fill-mode: forwards;
}

#rightLine {

  animation-fill-mode: forwards;
}

@keyframes moveLeft {
  0% {
    height: 55vh;
    right: 10%;
  }

  25% {
    right: 10%;
    height: 70vh;
  }

  70% {
    right: 44.8%;
    height: 70vh
  }

  100% {
    right: 44.8%;
    height: 0vh
  }
}

@keyframes moveRight {
  0% {
    height: 55vh;
    left: 10%;
  }

  25% {
    left: 10%;
    height: 70vh;
  }

  70% {
    left: 44.8%;
    height: 70vh
  }

  100% {
    left: 44.8%;
    height: 0vh
  }
}

body {
  margin: 0;
  display: flex;
  position: relative;
  place-items: center;
  min-height: 100svh;
  z-index: -2;
  overflow-x: auto;
  min-width: fit-content;
  min-height: 100svh;
}

#homeBody {
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#homeBodyContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 250px;
}

.dashboard #homeBody {
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
}

h1 {
  color: #F0E6D2;
  text-shadow: 4.5px 4px 0px #785A28;
  margin: auto;
  margin-bottom: 45px;
  letter-spacing: 0.02em;
  width: 100%;
  font-family: Beaufort;
  font-size: 6.3em;
  line-height: 0.8;
  cursor: default;
  transition: transform ease 0.2s, text-shadow ease-in-out 0.2s;
}

a:focus {
  outline: none;
}

.customButton {
  height: 40px;
  border-radius: 9px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: Spiegel;
  color: #A09B8C;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s, transofrm 300ms ease-in-out;
}

.customButton:hover {
  border-color: #C89B3C;
}

.customButton:active {
  outline: none;
  transform: scale(1.04);
}

.customButton:focus {
  outline: none;
}